* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    background-color: rgb(255, 255, 255);
}
#slider {
    width: 80%;
    height: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#slider .container {
    margin-top: auto;
    margin-top: auto;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: transparent;
    box-shadow: 0 15px 15px rgba(26, 25, 25, 0.479), 0px 0px 20px rgba(6, 3, 61, 0.623);
}
#slider .container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
}
#nav .container-fluid {
    padding: 20px;
}
#nav .container-fluid a {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.col-3 {
	margin-left: 10px;
	margin-top: 50px;
    margin-bottom: 50px;
}

.btn-primary {
	width: 400px;
	height: 40px;
	margin-top: 50px;
    margin-bottom: 15px;
	margin-left: 30px;
	background-color: rgba(7, 7, 22, 0.945);
	border-radius: 20px;
}
.btn-outline-danger {
	width: 400px;
	margin-top: 5px;
	margin-left: 30px;
}
#section_1 .container-fluid {
    margin-top: 20px;
}
#section_1 .container-fluid .btn-outline-dark {
    width: 100px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-left: 50px;

}


.btn-outline-success {
    height: 30px;
    width: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}