{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Home</title>{% endblock %}


{% block content %}
    

<section class="header">
    <div class="container">
        <div class="col">
            <h2>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Enim voluptatibus doloribus repudiandae, 
                explicabo dolor atque quaerat impedit recusandae
                 vero corporis eligendi nobis magnam, quo voluptates est quas perspiciatis nam. Dolorum.
            </h2>

            <button>
                CRIAR CONTA
            </button>
            <button>
                LOGIN
            </button>
        </div>

        <div class="col">
            <img src="{% static 'imagens/app.png' %}" alt="">
        </div>
        
    </div>
</section>

{% endblock %}