{% extends 'base.html' %}
{% load static %}



{% block content %}
    
    <section id="login">
        <div class="container">
            <div class="col-3">
                <h1>LOGIN</h1>
            </div>

            <form action="." method="post">
                {% csrf_token %}
                <div class="col-8">
                    <label for="username">username</label>
                    {{ form.username }}
                </div>
                <div class="col-8">
                    <label for="password">password</label>
                    {{ form.password }}
                </div>

                <input class="btn btn-primary" type="submit" value="CONECTAR-SE">
                
                <button type="button" class="btn btn-outline-danger">CADASTRAR</button>
            </form>
        </div>
    </section>


{% endblock %}
